* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.cabecalho {
    padding: 25px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cartao {
    width: 600px;
    height: 900px;
}
.cartao-imagem {
    width: 100%;
    height: 100%;
}
.body {
    display: flex;
    flex-direction: column;
}